---
# SPDX-FileCopyrightText: 2024-present {{ maintainer_fullname }} <{{ maintainer_email }}>
#
# SPDX-License-Identifier: MIT
#
# Configuration for Prettier:
#
# See https://prettier.io/

trailingComma: "es5"
tabWidth: 4
semi: false
singleQuote: true
