# SPDX-FileCopyrightText: 2024-present {{maintainer_name}} <{{maintainer_email}}>
#
# SPDX-License-Identifier: MIT
#
# Configuration for REUSE:
#
# https://reuse.software/

version = 1
SPDX-PackageName = "{{project_name}}"
SPDX-PackageSupplier = "{{maintainer_name}} <{{maintainer_email}}>"
SPDX-PackageDownloadLocation = "https://{{repository_provider}}/{{repository_namespace}}/{{project_name}}"
