# SPDX-FileCopyrightText: {{ copyright_date }}-present {{ maintainer_fullname }} <{{ maintainer_email }}>
#
# SPDX-License-Identifier: MIT
#
# Configuration for REUSE
#
# See: https://reuse.software/

version = 1
SPDX-PackageName = "{{ project_name }}"
SPDX-PackageSupplier = "{{ maintainer_fullname }} <{{ maintainer_email }}>"
SPDX-PackageDownloadLocation = "https://{{ repository_provider }}/{{ repository_namespace }}/{{ project_name }}"

[[annotations]]
path = "CHANGELOG.md"
precedence = "aggregate"
SPDX-FileCopyrightText = "{{ maintainer_fullname }}"
SPDX-License-Identifier = "MIT"

[[annotations]]
path = ".copier-*.yaml"
precedence = "aggregate"
SPDX-FileCopyrightText = "{{ maintainer_fullname }}"
SPDX-License-Identifier = "MIT"

[[annotations]]
path = ".devcontainer/**/**.json"
precedence = "aggregate"
SPDX-FileCopyrightText = "{{ maintainer_fullname }}"
SPDX-License-Identifier = "MIT"

[[annotations]]
path = ".opentofu-version"
precedence = "aggregate"
SPDX-FileCopyrightText = "{{ maintainer_fullname }}"
SPDX-License-Identifier = "MIT"

[[annotations]]
path = ".python-version"
precedence = "aggregate"
SPDX-FileCopyrightText = "{{ maintainer_fullname }}"
SPDX-License-Identifier = "MIT"

[[annotations]]
path = ".terraform-version"
precedence = "aggregate"
SPDX-FileCopyrightText = "{{ maintainer_fullname }}"
SPDX-License-Identifier = "MIT"

[[annotations]]
path = "tf/contexts/**/**.json"
precedence = "aggregate"
SPDX-FileCopyrightText = "{{ maintainer_fullname }}"
SPDX-License-Identifier = "MIT"

[[annotations]]
path = "tf/definitions/**/.terraform.lock.hcl"
precedence = "aggregate"
SPDX-FileCopyrightText = "{{ maintainer_fullname }}"
SPDX-License-Identifier = "MIT"

[[annotations]]
path = "uv.lock"
precedence = "aggregate"
SPDX-FileCopyrightText = "{{ maintainer_fullname }}"
SPDX-License-Identifier = "MIT"
