---
# SPDX-FileCopyrightText: {{ copyright_date }}-present {{ maintainer_fullname }} <{{ maintainer_email }}>
#
# SPDX-License-Identifier: MIT
#
# Maintained by Copier: Manual changes will be overwritten
#
# See: https://copier.readthedocs.io/en/stable/

{{ _copier_answers|to_nice_yaml -}}
