---
# SPDX-FileCopyrightText: {{copyright_date}}-present {{maintainer_name}} <{{maintainer_email}}>
#
# SPDX-License-Identifier: MIT
#
# Maintained by Copier: Manual changes will be overwritten
#
# See https://yamllint.readthedocs.io

{{_copier_answers|to_nice_yaml}}
